@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --laranja: #FE5C00;
    --laranja-hover: #c54a03;
    --laranja-linear: linear-gradient(210deg, #FE5C00 50%, #983700);
    --shadow-preto: 17px 17px 7px -1px rgba(4, 4, 4, 0.7);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 2;
    align-items: center;
    gap: 1.5%;
}

.logo {
    width: 150px;
}

.navbar {
    font-family: 'Inter', sans-serif;
    color: white;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    gap: 15px;
    text-align: center;
}

.navbar a {
    text-align: center;
    font-size: 0.95rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar a:hover {
    color: rgb(179, 179, 179);
}

.btn_header {
    padding-left: 0.40%;
    display: flex;
    gap: 18px;
}

.btn {
    background-color: var(--laranja);
    padding: 10px 20px;
    border-radius: 0px 8px 0px 8px;
    border-color: transparent;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.btn:hover {
    background-color: var(--laranja-hover);
    cursor: pointer;
}

#banner img{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.left_header{
    width: 80%;
    display: flex;
    flex-direction: row;
}