@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --laranja: #FE5C00;
    --laranja-hover: #c54a03;
    --laranja-linear: linear-gradient(210deg, #FE5C00 50%, #983700);
    --shadow-preto: 17px 17px 7px -1px rgba(4, 4, 4, 0.7);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

.secao {
    padding: 5% 5% 7%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}

.conteudoHome{
    padding: 1% 0% 5% 5%;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 2;
    align-items: center;
    gap: 1.2%;
}

.logo {
    width: 150px;
    margin-right: 15px;
}

.navbar {
    font-family: 'Inter', sans-serif;
    color: white;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    gap: 15px;
    text-align: center;
}

.navbar a {
    text-align: center;
    font-size: 0.95rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar a:hover {
    color: rgb(179, 179, 179);
}

.btn_header {
    padding-left: 0.40%;
    display: flex;
    gap: 18px;
}

.btn {
    background-color: var(--laranja);
    padding: 10px 20px;
    border-radius: 0px 8px 0px 8px;
    border-color: transparent;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.btn:hover {
    background-color: var(--laranja-hover);
    cursor: pointer;
}

#carrosel {
    display: flex;
    flex-direction: column;
}

#banner img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#carrosel button {
    position: absolute;
    z-index: 1;
    margin-top: 36%;
    margin-left: 28%;
}

.left_header {
    width: 80%;
    display: flex;
    flex-direction: row;
}

.right_header {
    margin: 0;
    padding: 0;
    width: 10%;
}

.foto_perfil {
    width: 50px;
    border-radius: 5%;
}

.profile-container{
    width: 50px;
    display: flex;
    justify-content: flex-end;
    cursor:pointer;
}

.home{
    padding: 5% 10%;
}

#parte1{
    display: flex;
    gap: 50px;
    align-items: center;
}

.menuModal {
    display: none;
    position: absolute;
    background-color:white;
    width: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    top: 12%;
    border-radius: 2%;
    cursor: auto;
}

.menu_perfil{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.menu_perfil li{
    list-style: none;
}

.menu_perfil a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 13px; 
}

.menu_perfil a:hover{
    background-color: rgb(207, 207, 207);
}

.profile-container:hover .menuModal {
    display: block;
}

.icon_menu{
    width: 17px;
}

.carrosel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.container {
    display: flex;
    animation: slide 120s infinite;
}

.itens_carrosel {
    flex: 0 0 100%;
}

.banner img {
    width: 100%;
}

@keyframes slide {

    0%, 37.5% { /*0% e 12.5% é do Tempo (aqui digo que de 0% a 12.5 ele fica parado*/
        transform: translateX(0); 
    }

    50%, 62.5%{
        transform: translateX(-100%); 
    }

    75%, 87.5% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

.graficos{
    width: 100%;
}

.iconRedirecionador{
    width: 30px;
}

.iconRedirecionador span{
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
}

.secoes{
    width: 33.5%;
    border: black 2px solid;
    padding: 7% 0%;
}

.paiSecoes{
    display: flex;
}

footer{
    background-color: black;
    padding: 60px;
}