@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --laranja: #FE5C00;
    --laranja-hover: #c54a03;
    --laranja-linear: linear-gradient(210deg, #FE5C00 50%, #983700);
    --shadow-preto: 17px 17px 7px -1px rgba(4, 4, 4, 0.7);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}